.purple-arrow{
    color: #7600FF;
    font-weight: 900;
}

.contianer{
    direction: rtl;
    padding: 10%;
    padding: 10%;
  
}
.title{
    font-size: 24.75px;
   font-family: 'black';
}
.filter-title{
    font-family: 'black';
}
.just{
    justify-content: space-between;
}
