<!-- responsive-table.component.html -->
<h3 class="room-label">خيارات الغرف</h3>
<table class="responsive-table">
    <thead>
      <tr>
        <th colspan="2"></th>
       
        <th colspan="1" class="title">السعر</th>
        <th colspan="1" class="title">عدد الغرف</th>
        <th colspan="1" class="title">المساحة</th>
        <th colspan="1" class="title">الضيوف</th>
        <th colspan="4" class="title"></th>
        <th colspan="1" class="image-cell-label" class="title">نوع الغرفة</th>   
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2" class="button"><h6 class="button-style">احجز</h6></td>
        <td colspan="1" class="price">700،00</td>
        <td colspan="1"><input type="number" placeholder="0"></td>
        <td colspan="1" class="space">30 م2</td>
        <td colspan="1" class="icon-cell"><img src="../../assets/Icon awesome-user-alt.svg" alt=""></td>
        <td colspan="4"></td>
        <td colspan="1" class="image-cell"><img src="../../assets/2150683421.png" alt=""></td>
      </tr>
    </tbody>
  </table>
  