<!-- <div>
    <mat-grid-list cols="3" rowHeight="2:1" rowWidth="3:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile rowspan="2">3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
    </mat-grid-list>
    
</div> -->


<div class="header">
    <div class="header-content">
        <div class="lang">
            <h6>EN</h6>
            <h6><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow down"></mat-icon></h6>

        </div>
        <div class="name">
            <h6>EN</h6>
        </div>
        <div class="pic">
            <h6>EN</h6>
        </div>

        <div class="add">
            <h6 class="add-h6"> sdsadsadasdasd</h6>
        </div>

    </div>
    <div class="header-logo">
        <div class="logo">
            <h6>daf</h6>
        </div>
    </div>
</div>



<div class="body-content">

    <div class="navigation">
        <h6>الرجوع للخلف</h6>
        <h6><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow down"></mat-icon></h6>
    </div>
    <div class="hotel">
        <div class="name">
            <h6 class="num">12.6</h6>
            <h6 class="num-rate">15 تقييم</h6>
        </div>

        <div class="rate">
            <h6>الرجوع للخلف</h6>
            <h6>dsadcqcqa</h6>
        </div>


    </div>
    <br>
    <br>
    <div class="images">
        <div class="imgs-sm">
            <img src="../../assets/luxury-place-resort.png">
            <img src="../../assets/luxury-place-resort.png">
        </div>
        <div class="imgs-sm"> 
            <img src="../../assets/luxury-place-resort.png">
            <img src="../../assets/luxury-place-resort.png">
        </div>
        <div class="imgs-lg">
            <img src="../../assets/luxury-place-resort.png">
        </div>
       

    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="reserve">
        <div class="reserve-1">
            <p class="p-auto">احجز الآن</p>

        </div>
        <div class="reserve-2">
            <p>اجمالي السعر</p>
            <div class="reserve-2-price">

                <p>1799,00 ريال</p>

                <p>2000,00 ريال</p>
            </div>
        </div>
        <div class="reserve-3">
            <p>4 ضيوف</p>
            <p>2 كبار، 2 أطفال</p>
        </div>
        <div class="reserve-4">

            <p>4 ليالي ديسمبر 2023</p>
            <div class="reserve-4-time">

                <p>24 ديسمبر</p>
                <p>|</p>
                <p>28 ديسمبر</p>
            </div>
        </div>
        <div class="reserve-5">
            <p>سعر الليلة</p>
            <p>500,00 ريال</p>
        </div>


    </div>
    <br>
    <br>
    <br>
    <div class="hotel-details">
        <div class="left">
            <div class="up">
                <div class="left">
                    <p>الفئة / التصنيف</p>
                    <p>فنادق ومنتجعات سياحية</p>
                </div>
                <div class="right">
                    <p>Resissaddsa</p>
                </div>
            </div>
            <br>
            <br>
            <div class="down">
                <p>عدد النجوم الفندقية</p>
                <p>starsssss</p>
                <p>مميزات</p>
                <p>قريب من الطريق لادولي</p>
                <br>
                <br>
                <p>قريب من الطريق لادولي</p>
                <p>مسبح عائلي</p>
                <p>ملعب تنس</p>
                <p>صالون تجميل وسبا</p>
            </div>
        </div>
        <div class="right">
            <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
                كانت تصاميم مطبوعه … بروشور او فلاير على سبيل المثال … او نماذج مواقع انترنت …</p>
            <br>
            <p> وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة
                للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او
                الانتقادات للتصميم الاساسي.</p>
            <br>
            <p>وخلافاَ للاعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ
                العام 45 قبل الميلاد. من كتاب “حول أقاصي الخير والشر”</p>
        </div>

    </div>


    <div class="icons">
        <h3>مرفق متوفرة في شاليهات هايسندا</h3>
        <div class="line">
            <div class="flex">
                <p>موقف سيارات</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
        </div>
        <div class="line">
            <div class="flex">
                <p>موقف سيارات</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
        </div>
        <div class="line">
            <div class="flex">
                <p>موقف سيارات</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
            <div class="flex">
                <p>شاشة تليفزيون</p>
                <p>Icon</p>
            </div>
        </div>



    </div>
    <br>
    <br>
    <div class="information">
        <div class="map">
            
            <h3>اعرض خريطة الوصول</h3>
            <div class="img"><img src="../../assets/Screenshot 2023-12-27 at 9.25.22ΓÇ»PM.png" alt=""></div>
        </div>
        <div class="info">
            <h3>معلومات مهمة</h3> 
            <div class="line">
                <div class="flex">
                    <p>من 12:00 مساءً إلى 3:00 مساءً</p>
                    
                </div>
                <div class="flex">
                    <p>تسجيل الوصول</p>
                    <p>Icon</p>
                    
                </div>

            </div>

            <div class="line">
                <div class="flex">
                    <p>من 10:00 صباحاً إلى 12:00 مساءً</p>
                   
                </div>
                <div class="flex">
                    <p>تسجيل المغادرة</p>
                    <p>Icon</p>
                </div>
               

            </div>
            <div class="line">
                <div class="flex">
                    <p>تتباين سياسة إلغاء الحجز والدفع المسبق وفقاً لنوع مكان الإقامة المحجوز. يرجى التحقق من الشروط التي قد يتم تطبيقها على كل خيار عند تحديد اختيارك.</p>
                  
                </div>
                <div class="flex">
                    <p>إلغاء الحجز</p>
                    <p>Icon</p>
                </div>
              

            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="hotel-rate">

        <div class="hotel-div1">
            <h6 class="num-rate2">15 تقييم</h6>
            <div class="name">

                <h6 class="num_rate_1">جيد جداً</h6>
                <h6 class="num">12.6</h6>

            </div>
        </div>

        <div class="flex">
            
            <div class="block">
                <h1></h1>
            </div>
            <div class="block">
                <h4>الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4>الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4>الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4>الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4>الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4 class="rate-label">التقييم العام</h4>
                <div class="rate-flex">
                   
                    <div class="bar-container">
                        <div class="bar-5"></div>
                      </div>
                      <p class="bar-num">5</p>
                </div>
                <div class="rate-flex">
                   
                    <div class="bar-container">
                        <div class="bar-4"></div>
                      </div>
                      <p class="bar-num">4</p>
                </div>
                <div class="rate-flex">
                    
                    <div class="bar-container">
                        <div class="bar-3"></div>
                      </div>
                      <p class="bar-num">3</p>
                </div>
                <div class="rate-flex">
                   
                    <div class="bar-container">
                        <div class="bar-2"></div>
                      </div>
                      <p class="bar-num">2</p>
                </div>
                <div class="rate-flex"> 
                    
                    <div class="bar-container">
                        <div class="bar-1"></div>
                      </div>
                      <p class="bar-num">1</p>
                </div>
               
            </div>


        </div>

        <div class="user">
            <diV class="card">
                <div class="flex1">
                    <p class="name">يزيد العمري</p>
                    <p class="img"><img src="../../assets/user.jfif"></p>
                </div>
                <div class="text">
                    <p>“المالك كان لطيفاً للغاية ، وتأكد من الحصول على المساعدة التي نحتاجها حتى عندما لم يكن موجوداً. الموقع والمنتجع بشكل عام رائع.”</p>
                </div>

            </diV>
            <diV class="card">
                <div class="flex1">
                    <p class="name">يزيد العمري</p>
                    <p class="img"><img src="../../assets/user.jfif"></p>
                </div>
                <div class="text">
                    <p>“المالك كان لطيفاً للغاية ، وتأكد من الحصول على المساعدة التي نحتاجها حتى عندما لم يكن موجوداً. الموقع والمنتجع بشكل عام رائع.”</p>
                </div>

            </diV>
            <diV class="card">
                <div class="flex1">
                    <p class="name">يزيد العمري</p>
                    <p class="img"><img src="../../assets/user.jfif"></p>
                </div>
                <div class="text">
                    <p>“المالك كان لطيفاً للغاية ، وتأكد من الحصول على المساعدة التي نحتاجها حتى عندما لم يكن موجوداً. الموقع والمنتجع بشكل عام رائع.”</p>
                </div>

            </diV>
            <diV class="card">
                <div class="flex1">
                    <p class="name">يزيد العمري</p>
                    <p class="img"><img src="../../assets/user.jfif"></p>
                </div>
                <div class="text">
                    <p>“المالك كان لطيفاً للغاية ، وتأكد من الحصول على المساعدة التي نحتاجها حتى عندما لم يكن موجوداً. الموقع والمنتجع بشكل عام رائع.”</p>
                </div>

            </diV>

        </div>


    
    </div>
</div>