<div class="grey-container">
    <div class="padding">
        <div class="categories">
            <p class="categoryTitle">{{categoriesTitle}}</p>
            <app-category-item [categories]="categoriesDetails"></app-category-item>
        </div>
        <div class="footer-container">
            <div class="footer-list">
                <div class="list">
                    <p class="list-one-title">{{listOneTitle}}</p>
                    <p class="list-one-subtitle">{{categoriesSubtitle}}</p>
                    <p class="list-one-subtitle">{{categoriesSubtitleTwo}}</p>
                </div>
            </div>
            <div class="terms-and-conditions">
                <div *ngFor="let termsAndCondition of termsAndConditions">
                    <div class="footer-list ">
                        <div class="list">
                            <p class="terms-and-conditions-title">
                                {{termsAndCondition.termsAndConditionsTitle}}
                            </p>
                            <p class="terms-and-conditions-subtitle">{{termsAndCondition.termsAndConditionsSubtitleOne}}
                            </p>
                            <p class="terms-and-conditions-subtitle">{{termsAndCondition.termsAndConditionsSubtitleTwo}}
                            </p>
                            <p class="terms-and-conditions-subtitle">
                                {{termsAndCondition.termsAndConditionsSubtitleThree}}</p>
                            <p class="terms-and-conditions-subtitle">
                                {{termsAndCondition.termsAndConditionsSubtitleFour}}</p>
                        </div>

                    </div>

                </div>
                <div class="icons list">
                    <div>
                        <img src="assets/aroovia-icons/x.svg" alt="" class="social-media-icons">
                        <img src="assets/aroovia-icons/Icon awesome-snapchat-ghost.svg" alt=""
                            class="social-media-icons">
                        <img src="assets/aroovia-icons/Icon feather-instagram.svg" alt="" class="social-media-icons">
                    </div>
                </div>
            </div>
        
        </div>

        <div class="footer-bottom">
            <div class="allrightsreserved">
              <p>  {{allRightsReserved}}</p>
            </div>
            <div>
            <p>{{developedBy}}</p>
            </div>
        </div>
    </div>
</div>