.grey-container{
    background-color: #F0F0F0;
    direction: rtl;
}
.padding{
    padding-left: 10%;
    padding-right: 10%;
}
.list-one-title{
font-size: 16px;
color: #7E7E7E;
}
.grey-container{
    direction: rtl;
}
/* .footer-list{
    width:20%;
} */
.list-one-title{
    font-size: 16px;
    font-family: 'heavy';
}
.categories{
    border-bottom: 2px solid #E8E8E8;
}
.categoryTitle{
    color: #7E7E7E;
    font-size: 16px;
}
.list-one-subtitle{
    font-size: 13px;
}

.footer-container{
    display: flex;
}
.terms-and-conditions{
    display: flex;
}
.list{
    width: 240px;
}
.terms-and-conditions-title{
    color: #7E7E7E;
    font-size: 16px;
    font-family: 'heavy';
}
.terms-and-conditions-subtitle{
    font-size: 13px;
    font-family: 'medium';
}

.social-media-icons{
    width: 14.23px;
    height: 14.57px;
   
}

.icons{
    display: flex;
    justify-content: end;
}

.categoryTitle{
    font-family: 'heavy';
}
.footer-bottom{
    font-family: 'medium';
    display: flex;
    justify-content: space-between;
    font-size: 9.75px;
}