<!-- && (loginForm.get('phoneNumber').dirty || loginForm.get('phoneNumber').touched) -->
<mat-dialog-content>
    <mat-icon mat-button mat-dialog-close>close</mat-icon>
    <div class="container">
        <p class="greeting">أهلا بك</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="input-container"  [ngClass]="{
                'green-border': loginForm.get('phoneNumber')?.valid
                               
              }">
      
                <input type="text" placeholder="50xxxxxxxx" formControlName="phoneNumber" >
                <div class="areacode">
                    <p class="phonenumberlabel">رقم الجوال</p>
              <div class="areacodecontainer">
                <p class="areacodenumber">{{areaCode}}</p>
                <img src="../../assets/aroovia-icons/Flag.svg" alt="">
              </div>
                </div>
            </div>
            <button type="submit" class="submitButton" [ngClass]="{'purplesucessbutton': loginForm?.valid}">المتابعة</button>
        </form>

    </div>
    
</mat-dialog-content>


