<mat-dialog-content>
    <mat-icon mat-button mat-dialog-close>close</mat-icon>
    <div class="container">
        <p class="greeting">أهلا بك</p>
        <form >

            <div class="input-container">
                <input type="text" placeholder="50xxxxxxxx" ng-pattern="/^5\d{8}$/">
                <div class="areacode">
                    <p>رقم الجوال</p>
              <div class="areacodecontainer">
                <p class="areacodenumber">{{areaCode}}</p>
                <img src="../../assets/aroovia-icons/Flag.svg" alt="">
              </div>
                </div>
            </div>
            <button >المتابعة</button>
        </form>

    </div>
    
</mat-dialog-content>


