.title-rating {
    justify-content: space-between;
    margin-top: 8px;
}

.title p {
    margin: unset;
}

.card {
    width: 300px;
    gap: 20px;

}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.card-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-img {
    width: 300px;
    height: 204px;
    position: relative;
}

.location {
    align-items: center;

}

.price {
    display: flex;
    margin-left: 7px;
}

.rate {
    display: flex;

}

.muted {
    color: #7E7E7E;
    font-size: 9.75px;
    font-family: 'medium';
}

.rating {
    background-color: #7600FF;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating p {
    margin: unset;
    color: #FFFFFF;
    font-family: 'heavy';
}

.heart {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-circle {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.heart-icon {
    color: #FF0000;
}

.title p {
    font-size: 16px;
    font-family: 'heavy'
}



.price {
    font-size: 12px;
    font-family: 'black';
}

.modify-font {
    font-family: 'heavy';
}

/* .card-container .card:nth-child(4n) {
    margin-right: 0; 
  }
   */