.cont{
    background-image: url(../../assets/aroovia-icons/Group698.png);
    direction: rtl;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #FFFFFF;
    font-size: 18px;
    /* text-align: center; */
    font-family: 'medium';
    margin: 0px !important;
}

.download-img{
    width: 86px;
    height: 86px;
    margin-left:21.35px;
}
.subtitle{
    color: #FFFFFF;
    font-size: 11px;
    font-size: 'medium';
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.center div{
    display: flex;
    gap: 20px;
}
.text{
    display: flex;
    flex-direction: column;

}