<div class="user">
    <div class="card">
        <div class="flex1">
            <p class="name">{{ reviews.name }}</p>
            <p class="img"><img src="../../assets/user.jfif"></p>
        </div>
        <div class="text">
            <p>“المالك كان لطيفاً للغاية ، وتأكد من الحصول على المساعدة التي نحتاجها حتى عندما لم يكن موجوداً. الموقع والمنتجع بشكل عام رائع.”</p>
        </div>

    </div>
    <div class="card">
        <div class="flex1">
            <p class="name">{{ reviews.name }}</p>
            <p class="img"><img src="../../assets/user.jfif"></p>
        </div>
        <div class="text">
            <p>{{reviews.comment}}</p></div>

    </div>
    <div class="card">
        <div class="flex1">
            <p class="name">{{ reviews.name }}</p>
            <p class="img"><img src="../../assets/user.jfif"></p>
        </div>
        <div class="text">
            <p>{{reviews.comment}}</p>     </div>

    </div>
    <div class="card">
        <div class="flex1">
            <p class="name">{{ reviews.name }}</p>  
            <p class="img"><img src="../../assets/user.jfif"></p>
        </div>
        <div class="text">
            <p>{{reviews.comment}}</p>  
        </div>

    </div>

</div>