<div class="icons">
    <h3 class="title">مرفق متوفرة في شاليهات هايسندا</h3>
    <div class="line">
        <div class="flex">
            <p>موقف سيارات</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description> شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
    </div>
    <div class="line">
        <div class="flex">
            <p>موقف سيارات</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
    </div>
    <div class="line">
        <div class="flex">
            <p>موقف سيارات</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
        <div class="flex">
            <p class=description>شاشة تليفزيون</p>
            <p>Icon</p>
        </div>
    </div>



</div>