<!-- <div class="container">
    <img src="../../assets/aroovia-icons/carousel-image.png" alt="">
</div> -->

<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide>
      <div class="container">
        <img [src]="slide.src">
        <div class="text">
          <div class="text-inner">
            <p class="title">
              أهلا يزيد

            </p>
            <p class="subtitle">
              ماهي وجهتك القادمة؟
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>