


<div class="header">
    <div class="header-content">
        <div class="lang">
            <h6>EN</h6>
            <h6></h6>

        </div>
        <div class="name">
            <h6>EN</h6>
        </div>
        <div class="pic">
            <h6>EN</h6>
        </div>

        <div class="add">
            <h6 class="add-h6"> sdsadsadasdasd</h6>
        </div>

    </div>
    <div class="header-logo">
        <div class="logo">
            <h6>daf</h6>
        </div>
    </div>
</div>



<div class="body-content">

    <div class="navigation">
        <h6 class="back-text">الرجوع للخلف</h6>
        <h6></h6>
    </div>
    <div class="hotel">
        <div class="name">
            <h6 class="num">12.6</h6>
            <h6 class="num-rate">15 تقييم</h6>
        </div>

        <div class="rate">
            <h6 class="rate-name">فندق ريناسنس العلمين</h6>
           
        </div>


    </div>
    <h6 class="location">مرسى مطروح، مصر</h6>
    <br>
    <br>
    <div class="images">
        <div class="imgs-sm">
            <img src="../../assets/luxury-place-resort.png">
            <img src="../../assets/luxury-place-resort.png">
        </div>
        <div class="imgs-sm"> 
            <img src="../../assets/luxury-place-resort.png">
            <img src="../../assets/luxury-place-resort.png">
        </div>
        <div class="imgs-lg">
            <img src="../../assets/luxury-place-resort.png">
        </div>
       

    </div>
    <br>
    <br>
    <br>
    <br>
<app-reservation></app-reservation>
    
    <br>
    <br>
  
 <!-- hotel-details.component.html -->

 <app-hotel-details></app-hotel-details>
 <br>
 <br>


<app-room-options></app-room-options>

 <br>


    <app-chalets-options></app-chalets-options>
    <br>
    <br>
<app-reservation-info></app-reservation-info>
    <br>
    <br>
    <div class="hotel-rate">

        <div class="hotel-div1">
            <h6 class="num-rate2">15 تقييم</h6>
            

                <h6 class="num_rate_1">جيد جداً</h6>
                <h6 class="num1">12.6</h6>

            
        </div>

        <div class="flex">
            
            <div class="block">
                <h1></h1>
            </div>
            <div class="block">
                <h4 class="raiting-title">الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4 class="raiting-title">الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4 class="raiting-title">الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4 class="raiting-title">الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4 class="raiting-title">الموقع</h4>
                <h4 class="rate-dec">4.9</h4>
                <h4>Icons</h4>
            </div>
            <div class="block">
                <h4 class="rate-label">التقييم العام</h4>
                <div class="rate-flex">
                   
                    <div class="bar-container">
                        <div class="bar-5"></div>
                      </div>
                      <p class="bar-num">5</p>
                </div>
                <div class="rate-flex">
                   
                    <div class="bar-container">
                        <div class="bar-4"></div>
                      </div>
                      <p class="bar-num">4</p>
                </div>
                <div class="rate-flex">
                    
                    <div class="bar-container">
                        <div class="bar-3"></div>
                      </div>
                      <p class="bar-num">3</p>
                </div>
                <div class="rate-flex">
                   
                    <div class="bar-container">
                        <div class="bar-2"></div>
                      </div>
                      <p class="bar-num">2</p>
                </div>
                <div class="rate-flex"> 
                    
                    <div class="bar-container">
                        <div class="bar-1"></div>
                      </div>
                      <p class="bar-num">1</p>
                </div>
               
            </div>


        </div>
    </div>
    <br>
 
      <app-user-reviews></app-user-reviews>

      <br>
      <br>
    
   
</div>