.purple-arrow{
    color: #7600FF;
    font-weight: 900;
    padding-left: 15px;
}
.flex{
    display: flex;
    align-items: start;
    justify-content: center;
}
.filter-title{
    margin-left: 10px;
}
.contianer{
    direction: rtl;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 24px;
    padding-top: 10%;
    background-color: #FAFAFA;
}
.title{
    font-size: 24.75px;
   font-family: 'black';
}
.filter-title{
   font-size: 15.75px;
   color: #7600FF;
   font-family: 'black';
}
.just{
    justify-content: space-between;
   
}
.margin{
    margin-bottom: 20px;
}