
<div class="contianer">
    <div class="just flex">
        <div class="arrow-flex">
            <div class="arrow-icon">
                <mat-icon class="purple-arrow">arrow_back</mat-icon>
            </div>
            <div class="title">
                {{title}}
            </div>
        </div>
    
        <div class="flex">
            <div class="filter-title">
                {{filtertitle}}
            </div>
    
            <div class="filter-icon">
                <div class="purple">
                    <img src="assets/aroovia-icons/Filter.svg" class="filter-img" alt="">
                </div>
            </div>
        </div>
    
      
    </div>
    <div class="cards">
        <!-- <app-card [cards]="carddetails"></app-card>
     <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let card of carddetails">
              <ng-template carouselSlide >
                <img [src]="card.image" >
              </ng-template>
            </ng-container>
     </owl-carousel-o>  -->
     <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let card of carddetails">
          <ng-template carouselSlide>
            <app-card [cards]="[card]"></app-card>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      
    </div>
</div>               

