.purple-arrow{
    color: #7600FF;
    font-weight: 900;
}

.contianer{
    direction: rtl;
    padding-left: 10%;
    padding-right: 10%;
  
}
.title{
    font-size: 24.75px;
   
    font-family: 'black';
}
.filter-title{
   
    color: #7600FF;
    font-family: 'black';
    font-size: 15.75px;
}
.just{
    justify-content: space-between;
   
}
.filter-img{
    width: 22px;
    height: 20px;
}