<div class="container">
    <div class="title-container">
        <img src="../../assets/aroovia-icons/Icon feather-arrow-left.svg" alt="" class="arrow-img">
        <p class="title">وجهات قريبة</p>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let image of images">
            <ng-template carouselSlide>
                <div class="item">
                    <div class="image">
                        <img [src]="image.imgsrc" alt="">
                        <p class="title-name">{{image.title}}</p>
                    </div>
                    <div class="title"></div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>