<div class="information">
    <div class="map">
      <h3 class="title">اعرض خريطة الوصول</h3>
      <div class="img"><img src="../../assets/Screenshot 2023-12-27 at 9.25.22ΓÇ»PM.png" alt=""></div>
    </div>
    <div class="info">
      <h3 class="title">معلومات مهمة</h3>
      <div class="line">
        <div class="flex">
          <p class="description-subtitle">{{ checkInTime }}</p>
        </div>
        <div class="flex">
          <p class="description-title">تسجيل الوصول</p>
          <p>Icon</p>
        </div>
      </div>
      <div class="line">
        <div class="flex">
          <p class="description-subtitle">{{ checkOutTime }}</p>
        </div>
        <div class="flex">
          <p class="description-title">تسجيل المغادرة</p>
          <p>Icon</p>
        </div>
      </div>
      <div class="line">
        <div class="flex">
          <p class="wrap description-subtitle" >{{ cancellationPolicy }}</p>
        </div>
        <div class="flex">
          <p class="description-title">إلغاء الحجز</p>
          <p>Icon</p>
        </div>
      </div>
    </div>
  </div>