<div class="reserve">
    <div class="reserve-1">
      <p class="p-auto">احجز الآن</p>
    </div>
    <div class="reserve-2">
      <p class="grey">اجمالي السعر</p>
      <div class="reserve-2-price">
        <p class="subtitle">{{ reservationData.totalAmount }}</p>
      </div>
    </div>
    <div class="reserve-3">
      <p class="grey">{{ reservationData.guests }}</p>
      <p class="subtitle">2 كبار، 2 أطفال</p>
    </div>
    <div class="reserve-4">
      <p class="grey">{{ reservationData.stayDates }}</p>
      <div class="reserve-4-time">
        <p class="subtitle">24 ديسمبر</p>
        <p class="subtitle">|</p>
        <p class="subtitle">28 ديسمبر</p>
      </div>
    </div>
    <div class="reserve-5">
      <p class="grey">سعر الليلة</p>
      <p class="subtitle">{{ reservationData.nightRate }}</p>
    </div>
  </div>