<div>
    <div class="container">
        <div class="shadow">
            <div class="padding">
                <div class="box search">
                    <div class="cont-pad">
                        <p class="title">
                            {{searchTitle}}
                        </p>
                        <input type="text" placeholder="ابحث عن الوجهة">
                    </div>
                </div>
                <div class="box date">
                    <div class="cont-pad flex-date">
                    <div class="search-inner">
                        <p class="title">
                            {{startDateTitle}}
                        </p>
                     <div class="input">
                        <p>{{chooseStartDate}}</p>
                        <mat-icon>calendar_month</mat-icon>
                     </div>
                    </div>
                    <div class="search-inner">
                        <p class="title">
                            {{endDateTitle}}
                        </p>
                     <div class="input">
                        <p>{{chooseEndDate}}</p>
                        <mat-icon>calendar_month</mat-icon>
                     </div>
                    </div>
                    </div>
                </div>
                <div class="box guest">
                    <div class="cont-pad">
                        <p class="title">
                            {{guestTitle}}
                        </p>
                        <input type="text" placeholder="عدد الضيوف">
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div class="search-icon-container">
            <div class="search-icon">
                <div><img src="assets/aroovia-icons/Icon feather-search.svg" alt=""></div>
            </div>
        </div>
</div>