
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.purple {
    color: #7600FF;
}