/* @import "ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css"; */
/* @import "ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css"; */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.purple {
    color: #7600FF;
}

/*  */

app-recomended app-card .card-container {
    flex-wrap: nowrap !important;
    overflow-x: auto;
}
